/*
 * Simple TripApp API
 *
 * This is a simple TripApp API
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;
using IO.Swagger.Data;
using Microsoft.AspNetCore.Http;
using Microsoft.EntityFrameworkCore;

namespace IO.Swagger.Controllers
{
    /// <summary>
    /// 
    /// </summary>
    public class UsersApiController : Controller
    {
        private readonly TripAppContext _context;

        /// <summary>
        /// Initializes controller.
        /// </summary>
        /// <param name="context">Db context to use.</param>
        public UsersApiController(TripAppContext context)
        {
            _context = context;
        }

        /// <summary>
        /// Creates user
        /// </summary>
        /// <remarks>This can be done by any user.</remarks>
        /// <param name="user">Created user object</param>
        /// <response code="400">bad input parameter</response>
        /// <response code="409">an existing item already exists</response>
        /// <response code="201">successful operation</response>
        [HttpPost]
        [Route("/sergiosuperstar/TripAppSimple/1.0.0/user")]
        [SwaggerOperation("CreateUser")]
        public virtual IActionResult CreateUser([FromBody]User user)
        {
            // TODO ftn: Add validation to the user parameter!!!
            // Return 400 - BadRequest if not valid!
            if (_context.Users.FirstOrDefault(u => u.Username == user.Username) != null)
            {
                return StatusCode(StatusCodes.Status409Conflict, user); // 409 already exists!
            }

            try
            {
                _context.Users.Add(user);
                _context.SaveChanges();
                return Created(Request.Host.ToString(), user); // 201 Created successfuly.
            }
            catch (Exception)
            {
                return StatusCode(StatusCodes.Status500InternalServerError);
            }
        }


        /// <summary>
        /// Deletes user
        /// </summary>
        /// <remarks>This can only be done by an administrator.</remarks>
        /// <param name="username">The username that needs to be deleted</param>
        /// <response code="200">successful operation</response>
        /// <response code="400">Invalid username supplied</response>
        /// <response code="404">User not found</response>
        [HttpDelete]
        [Route("/sergiosuperstar/TripAppSimple/1.0.0/user/{username}")]
        [SwaggerOperation("DeleteUser")]
        public virtual void DeleteUser([FromRoute]string username)
        {
            throw new NotImplementedException();
        }


        /// <summary>
        /// Gets user by username
        /// </summary>

        /// <param name="username">The username that needs to be fetched.</param>
        /// <response code="200">successful operation</response>
        /// <response code="400">Invalid username supplied</response>
        /// <response code="404">User not found</response>
        [HttpGet]
        [Route("/sergiosuperstar/TripAppSimple/1.0.0/user/{username}")]
        [SwaggerOperation("GetUserByUsername")]
        [SwaggerResponse(200, type: typeof(User))]
        public virtual IActionResult GetUserByUsername([FromRoute]string username)
        {
            try
            {
                var user = _context.Users.FirstOrDefault(u => u.Username == username);
                if (user == null)
                {
                    return StatusCode(StatusCodes.Status404NotFound);
                }
                return new ObjectResult(user);
            }
            catch (Exception)
            {
                return StatusCode(StatusCodes.Status500InternalServerError);
            }
        }


        /// <summary>
        /// Logs user into the system
        /// </summary>

        /// <param name="username">The user name for login</param>
        /// <param name="password">The password for login in clear text</param>
        /// <response code="200">successful operation</response>
        /// <response code="400">Invalid username/password supplied</response>
        [HttpGet]
        [Route("/sergiosuperstar/TripAppSimple/1.0.0/user/login")]
        [SwaggerOperation("LoginUser")]
        [SwaggerResponse(200, type: typeof(string))]
        public virtual IActionResult LoginUser([FromQuery]string username, [FromQuery]string password)
        {
            try
            {
                // TODO FTN: HASH PASSWORD?
                var user = _context.Users.FirstOrDefault(u => u.Username == username && u.Password == password);
                if (user == null)
                {
                    return StatusCode(StatusCodes.Status404NotFound);
                }
                return new ObjectResult(user);
            }
            catch (Exception)
            {
                return StatusCode(StatusCodes.Status500InternalServerError);
            }
        }


        /// <summary>
        /// Logs out currenty logged in user session
        /// </summary>

        /// <response code="200">successful operation</response>
        [HttpGet]
        [Route("/sergiosuperstar/TripAppSimple/1.0.0/user/logout")]
        [SwaggerOperation("LogoutUser")]
        public IActionResult LogoutUser()
        {
            // TODO FTN: Add support for security - read user tocken or whatever!
            return Ok();
        }


        /// <summary>
        /// Updates user
        /// </summary>
        /// <remarks>This can only be done by the logged in user.</remarks>
        /// <param name="username">username of a user that is about to be updated</param>
        /// <param name="user">Updated user object</param>
        /// <response code="200">successful operation</response>
        /// <response code="400">Invalid user supplied</response>
        /// <response code="404">User not found</response>
        [HttpPut]
        [Route("/sergiosuperstar/TripAppSimple/1.0.0/user/{username}")]
        [SwaggerOperation("UpdateUser")]
        [SwaggerResponse(200, type: typeof(User))]
        public virtual IActionResult UpdateUser([FromRoute]string username, [FromBody]User user)
        {
            // TODO ftn: Add validation to the user parameter!!!
            // Return 400 - BadRequest if not valid!
            var existingUser = _context.Users.FirstOrDefault(u => u.Username == username);
            if (existingUser == null)
            {
                return StatusCode(StatusCodes.Status404NotFound, username); // 400 not found!
            }

            try
            {
                _context.Entry(existingUser).CurrentValues.SetValues(user);
                _context.SaveChanges();
                return Ok(user);
            }
            catch (Exception err)
            {
                return StatusCode(StatusCodes.Status500InternalServerError);
            }
        }
    }
}
